 body {
    color:#fff
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    background:#77216F;
    font-size: 3rem;
    min-width: 80rem;
}

 .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #5E2750;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem 2.5rem;
    width:100%;
}

.correct {
    background: #5DFC0A
}

.incorrect {
    background: #FF0000
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size:2rem;
}

.hud-main-text {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40px;
    } 
} 

#progressText {
    font-size: 3rem
}